<header class="flex items-center justify-between p-4 border-b-2 border-gray-200 bg-white shadow-md lg:px-10">
  <img src="assets/logo.png" alt="logo" class="h-12">

  <section class="hidden md:flex flex-row gap-6 lg:gap-8 items-center">
    <h2 class="text-gray-800 hover:text-[#2f9335] cursor-pointer transition duration-300">Sobre</h2>
    <h2 class="text-gray-800 hover:text-[#2f9335] cursor-pointer transition duration-300">Setores</h2>
    <h2 class="text-gray-800 hover:text-[#2f9335] cursor-pointer transition duration-300">Galeria</h2>
    <h2 class="text-gray-800 hover:text-[#2f9335] cursor-pointer transition duration-300">Contatos</h2>
  </section>

  <!-- Ícone do Menu para Dispositivos Móveis -->
  <img src="assets/menu.png" alt="menu" class="block md:hidden h-10 cursor-pointer">
</header>
