<article class="flex flex-col min-h-screen bg-[#f4f4f4]">
	<section class="flex flex-col mt-[100px] p-5 lg:px-10" *ngIf="aboutInovacao">
		<div class="container mx-auto max-w-4xl">
			<h1 class="text-3xl lg:text-4xl font-extrabold text-gray-800 mb-6 text-center">{{ aboutInovacao.title }}</h1>
			
			<div class="bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-12">
				<p [innerHTML]="aboutInovacao.paragraph" class="text-lg mb-2 text-gray-700"></p>
			</div>
		</div>	
	</section>

	<section class="flex flex-col gap-6 p-5 lg:px-10">  
		<h1 class="text-3xl lg:text-4xl font-extrabold text-gray-800  text-center">{{ aboutObjective.title }}</h1>

		<div class="flex flex-col gap-10 lg:flex-row" *ngIf="aboutObjective"> 
			<div class="container mx-auto max-w-4xl">                  
				<div class="bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-12">
					<p [innerHTML]="aboutObjective.paragraph1" class="text-lg mb-2 text-gray-700"></p>
					<p [innerHTML]="aboutObjective.paragraph2" class="text-lg mb-2 text-gray-700"></p>
					<p [innerHTML]="aboutObjective.paragraph3" class="text-lg mb-2 text-gray-700"></p>
					<p [innerHTML]="aboutObjective.paragraph4" class="text-lg mb-2 text-gray-700"></p>
				</div>
			</div>

			<div class="container mx-auto max-w-4xl" *ngIf="aboutObjective">                  
				<div class="bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-12">
					<p [innerHTML]="aboutObjective.paragraph5" class="text-lg mb-2 text-gray-700"></p>
					<p [innerHTML]="aboutObjective.paragraph6" class="text-lg mb-2 text-gray-700"></p>
					<p [innerHTML]="aboutObjective.paragraph7" class="text-lg mb-2 text-gray-700"></p>
					<p [innerHTML]="aboutObjective.paragraph8" class="text-lg mb-2 text-gray-700"></p>
				</div>
			</div>
		</div>
	</section>
</article>
  