<article class="flex flex-col">
	<section class="flex flex-col mt-[100px] p-5 lg:px-10 bg-[#f4f4f4]" *ngIf="aboutExtensao">
		<div class="container mx-auto max-w-4xl">
			<h1 class="text-3xl lg:text-4xl font-extrabold text-gray-800 mb-6 text-center">{{ aboutExtensao.title }}</h1>

			<div class="bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-12">
				<p class="text-lg mb-2 text-gray-700">{{ aboutExtensao.paragraph }}</p>
			</div>
		</div>
	</section>

	<section class="flex flex-col gap-10 p-5 lg:px-10 lg:flex-row bg-[#f4f4f4]">
		<div class="container mx-auto max-w-4xl" *ngIf="aboutGestor">
			<h1 class="text-3xl lg:text-4xl font-extrabold text-gray-800 mb-6 text-center">{{ aboutGestor.title }}</h1>

			<div class="bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-12">
				<p class="text-lg mb-2 text-gray-700">{{ aboutGestor.paragraph1 }}</p>
				<p class="text-lg mb-2 text-gray-700">{{ aboutGestor.paragraph2 }}</p>
			</div>
		</div>

		<div class="container mx-auto max-w-4xl" *ngIf="aboutAtribGestor">
			<h1 class="text-3xl lg:text-4xl font-extrabold text-gray-800 mb-6 text-center">{{ aboutAtribGestor.title }}</h1>

			<div class="bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-12">
				<p class="text-lg mb-2 text-gray-700">{{ aboutAtribGestor.paragraph1 }}</p>
				<p class="text-lg mb-2 text-gray-700">{{ aboutAtribGestor.paragraph2 }}</p>
				<p class="text-lg mb-2 text-gray-700">{{ aboutAtribGestor.paragraph3 }}</p>
				<p class="text-lg mb-2 text-gray-700">{{ aboutAtribGestor.paragraph4 }}</p>
			</div>
		</div>
	</section>
</article>