<article class="flex flex-col min-h-screen">
  <section class="flex flex-col mt-[100px] p-6 lg:px-12 bg-[#f4f4f4]" *ngIf="aboutPesquisa">
		<div class="container mx-auto max-w-4xl">
			<h1 class="text-3xl lg:text-4xl font-extrabold text-gray-800 mb-6 text-center">{{ aboutPesquisa.title }}</h1>
			
			<div class="bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-12">
				<p [innerHTML]="aboutPesquisa.paragraph1" class="text-lg mb-2 text-gray-700"></p>
				<p [innerHTML]="aboutPesquisa.paragraph2" class="text-lg mb-2 text-gray-700"></p>
			</div>
		</div>
	</section>

	<section class="flex flex-col gap-10 p-6 lg:px-12 lg:flex-row bg-[#f4f4f4]">  
		<div class="flex flex-col" *ngIf="aboutPesquisa"> 
			<div class="container mx-auto max-w-4xl">
				<h1 class="text-3xl lg:text-4xl font-extrabold text-gray-800 mb-6 text-center">{{ aboutGestor.title }}</h1>
				
				<div class="bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-12">
					<p [innerHTML]="aboutGestor.paragraph1" class="text-lg mb-2 text-gray-700"></p>
					<p class="text-lg mb-2 text-gray-700">{{ aboutGestor.paragraph2 }}</p>
					<p [innerHTML]="aboutGestor.paragraph3" class="text-lg mb-2 text-gray-700">{{ aboutGestor.paragraph3 }}</p>
				</div>
			</div>
		</div>

		<div class="flex flex-col" *ngIf="aboutAtribGestor"> 
			<div class="container mx-auto max-w-4xl">
				<h1 class="text-3xl lg:text-4xl font-extrabold text-gray-800 mb-6 text-center">{{ aboutAtribGestor.title }}</h1>
				
				<div class="bg-white shadow-lg rounded-lg p-6 md:p-8 lg:p-12">
					<p [innerHTML]="aboutAtribGestor.paragraph1" class="text-lg mb-2 text-gray-700"></p>
					<p [innerHTML]="aboutAtribGestor.paragraph2" class="text-lg mb-2 text-gray-700"></p>
					<p [innerHTML]="aboutAtribGestor.paragraph3" class="text-lg mb-2 text-gray-700"></p>
				</div>
			</div>
		</div>
	</section>
</article>
